{{!-- looping over the listings --}}
{{!-- {{#each listings as |listing| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>{{listing.name}}</h2>
  </div>
  <div class="col-md-7">
  </div>
</div>
{{/each}} --}}
