<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  {{#if is_provider}}
  <div class="col-md-6 listing-list">
    <h3>Current Listing:</h3>

    {{#each listing}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/listing/{{listing.id}}">{{listing.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{listing.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<div class="row">
  <div class="col-auto">
    <h3>Profile Information</h3>
  </div>
  <div>
    {{!-- profile information --}}
  </div>
</div>

<script src="./js/profile.js"></script>
