<div>
    <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class ="form-group">
        <label for="provider-signup">Do you want to become a dog sitter / dog walker?</label>
        <input class="form-input" type="checkbox" id="provider-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update Profile</button>
    </div>
</div>