<div class="row">
  <div class="col-auto">
    <h2>Update the Profile for {{name}}</h2>
  </div>
</div>

<div>
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" value={{name}} />
    </div>
    <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" value={{email}}/>
    </div>
    <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
       <p>password must be at least 8 characters</p>
      </div>
     {{!--<div class ="form-group">
            FIXME: if we update is provider here what is the logic? if it's checked then we would
           have to give a provider signup page but we don't want to do that if they are already a provider. I think this causes 
           problems. Maybe a button somewhere to delete being a provider if you want or a button to sign up as a provider but if you just
           update this checkbox it could be a disaster. 
        <label for="provider-signup">Do you want to become a dog sitter / dog walker?</label>
        <input class="form-input" type="checkbox" id="provider-signup" />
    </div>  --}}
    <div class="form-group info-update">
        <button class="btn btn-primary" type="submit">Save Changes</button>
    </div>
</div>

<script src="./js/userUpdate.js"></script>